GROQ_API_KEY=
GEMINI_API_KEY=
LLAMA_CLOUD_API_KEY=

HF_TOKEN=

TAVILY_API_KEY=
SERPAPI_API_KEY=
FIRECRAWL_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

EMBEDDING_MODEL=AITeamVN/Vietnamese_Embedding_v2
RERANK_MODEL=BAAI/bge-reranker-base